*_output.txt
FoenixIDE.old/
FoenixIDE/
Kernel_FMX/
C256Foenix_Bin_Uploader/
how-to-develop-for-c256-foenix/
Kernel_FMX.old/
mods/
FoenixIDE-release-0.5.6.10/
merlin32/bin/Source/
merlin32/jmixer/bin/makefont/obj/
merlin32/jmixer/bin/makefont/bin/

Kernel_FMX.old2/
*.lst
*.vpj
*.vpw
*.vpwhist
*.vtg
merlin32/jmixer/work/
